
.contact {
    margin-top: 6rem;
    padding: 0 2rem;
    text-align: left;

    @media only screen and (min-width: 1000px) {
        margin: 6rem 8rem;
        padding: 0;
        height: 20rem;
        display: grid;
        grid-template-rows: repeat(10, 10%);
        grid-template-columns: repeat(2, 50%);
        grid-row: 4 / span ;
        grid-template-areas: "1-a 1-b"
                             "2-a 2-b"
                             "3-a 3-b"
                             "4-a 4-b"
                             "5-a 5-b"
                             "6-a 6-b"
                             "7-a 7-b"
                             "8-a 8-b"
                             "9-a 9-b"
                            "10-a 10-b"
                            "11-a 11-b";
        align-items:flex-start;            
    }

    &__title {
        font-family: 'Raleway';
        font-size: 2.5rem;
        font-weight: normal;
        @media only screen and (min-width: 1000px) {
            grid-row: 1 / span 2;
            grid-column: 1;
            margin: 0;       
        }
    }

    &__msg {
        margin-top: 0.5rem;
        font-family: 'Open Sans';
        font-size: 1rem;
        font-weight: normal;
        @media only screen and (min-width: 1000px) {
            grid-row: 3;
            grid-column: 1;
            margin: 0;
            font-size: 0.8em;
        }
    }

    &__div-info {
        position: relative;

        &__div-mail {
            margin-top: 2rem;
            @media only screen and (min-width: 1000px) {
                grid-row: 5;
                grid-column: 1;
                margin: 0;
                justify-self: left;
            }
        }
        &__div-phone {
            @media only screen and (min-width: 1000px) {        
                grid-row: 5;
                grid-column: 1;
                margin: 0 0 0 11rem;
            }
        }

        &__img {
            display: inline-block;
            // margin: 0 1rem 0 2rem;
            @media only screen and (min-width: 1000px) {
                margin: 0;
            }
        }
        &__text {
            display: inline-block;
            position: absolute;
            top: 0.25rem;
            left: 2.5rem;
            font-family: 'Open Sans';
            font-weight: 600;
            color: #A5A5A5;
            @media only screen and (min-width: 1000px) {
                margin: 0;
                left: 2.25rem;     
            }
        }
    }

    &__name-input {
        margin-top: 2rem;
        font-family: 'Open Sans';
        font-size: 0.7em;
        font-weight: 600;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: #08A6E4;
        @media only screen and (min-width: 1000px) {
            &--name {
                grid-row: 1;
                grid-column: 2;
                margin: 0;
            }
            &--email {
                grid-row: 4;
                grid-column: 2;
                margin: 0;
            }
        }
    }
    &__input {
        margin-top: 1rem;
        width: 100%;
        border: 1px solid #95989A;
        border-top: none;
        border-right: none;
        border-left: none;
        border-color: #95989A;
        @media only screen and (min-width: 1000px) {
            &--name {
                grid-row: 2;
                grid-column: 2;
                margin: 0;
                width: 100%;
            }
            &--email {
                grid-row: 5;
                grid-column: 2;
                margin: 0;
                width: 100%;
            }                
        }
    }

    &__div-terms {
        position: relative;
        margin-top: 2rem;
        @media only screen and (min-width: 1000px) {
            grid-row: 6 / span 4;
            grid-column: 2;
            margin-top: 1rem;        
        }
        &__checkbox {
            position: absolute;
            top: 0.25rem;
            left: 1rem;
            width: 1.35rem;
            height: 1.35rem;
            border: 2px solid #bcbcbc;
            border-radius: 2px;
            accent-color: #FFFFFF;
            @media only screen and (min-width: 1000px) {
                margin: 0;
                left: 0;
            }
        }
        &__text-terms {
            display: inline-block;
            margin-left: 3.75rem;
            font-family: 'Open Sans';
            font-size: 0.7em;
            font-weight: 400;
            color: #707070;
            @media only screen and (min-width: 1000px) {
                margin: 0 0 0 2rem;
                font-size: 0.63em;           
            }
        }
    }

    &__container-btn {
        text-align: right;
        margin-top: 2rem;
        @media only screen and (min-width: 1000px) {
            grid-row: 10 / span 2;
            grid-column: 2;
            margin: 0;
        }
        &__btn {
            padding: 1.25rem 6rem;
            font-family: 'Open Sans';
            font-size: 0.75em;
            font-weight: 700;
            border: none;
            border-radius: 2rem; 
            cursor: pointer; 
            color: white;
            background-color: #08A6E4;
        }
    }

}
