
.header {

    &__nav {
        box-shadow: 0 0.25rem 0.25rem lightgray;
        @media only screen and (min-width: 1000px) {
            display: flex;
            justify-content: space-between;
        }

        &__title {
            padding: 0.5em;
            font-family: 'Raleway';
            font-size: 2em;
            font-weight: 300;
            color: #2596be;
            @media only screen and (min-width: 1000px) {
                padding-left: 1em;
                cursor: pointer;
            }
        }
        &__img {
            position: absolute;
            top: 2rem;
            right: 2rem;
            @media only screen and (min-width: 1000px) {
                display: none;
            }
        }

        &__container {
            @media only screen and (min-width: 1000px) {
                text-align: right;
            }
            
            &__menu {
                display: none;
                @media only screen and (min-width: 1000px) {
                    display: inline-block;
                    text-align: center;
                    list-style: none;
                    font-family: 'Open Sans';
                    font-size: 0.8em;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.25em;
                }
                &__option {
                    display: inline-block;
                    margin-right: 3rem;
                    padding: 1.8em 0.75em;
                    cursor: pointer;
                    color: #A5A5A5;

                    &:hover {
                        color: #000000;
                        border-bottom: 5px solid #08A6E4;
                    }
                }
            }
        }
    }

    &__shop {
        margin-top: 6rem;
        text-align: center;

        &__title {
            font-family: 'Raleway';
            font-size: 3em;
            font-weight: normal;
        }

        &__text {
            margin-top: 1.5rem;
            padding: 0 3rem;
            font-family: 'Open Sans';
            font-weight: normal;
        }

        &__btn {
            margin-top: 2rem;
            padding: 1.35em 6em;
            font-family: 'Open Sans';
            font-size: 1em;
            font-weight: 700;
            border: none;
            border-radius: 2rem; 
            color: #FFFFFF;
            background-color: #08A6E4;
            @media only screen and (min-width: 1000px) {
                padding: 1.35em 10em;
                cursor: pointer;
            }
        }

        &__img {

            &__mobile {
                margin-top: 2rem;
                width: 100%;
                @media only screen and (min-width: 1000px) {
                    display: none; 
                }
            }
            &__desktop {
                display: none;
                @media only screen and (min-width: 1000px) {
                    display: block;
                    margin-top: 2rem;
                    width: 100%;  
                }
            }
        }
    }

}
