
.header {
    
    &__nav {
        box-shadow: 0 0.25rem 0.25rem lightgray;

        &__title {
            padding: 0.5em;
            font-family: 'Raleway';
            font-size: 2em;
            font-weight: 300;
            color: #2596be;
        }

        &__img {
            position: absolute;
            top: 2rem;
            right: 2rem;
        }
    }

}
