
.prices {
    margin-top: 5rem;
    padding: 0 2.5rem;
    text-align: center;

    &__title {
        font-family: 'Raleway';
        font-size: 2em;
        font-weight: normal;
    }

    &__coin-type {
        margin-top: 2.5rem;
        padding: 0.5em;
        border-radius: 1rem;
        font-family: 'Open Sans';
        font-size: 2em;
        font-weight: 400;
        border: 1px solid #000000;
    }

    &__container {
        padding-top: 3em;
        @media only screen and (min-width: 1000px) {
            display: flex;
            justify-content: center;  
            margin: 0;
        }
    }

    &__card {
        position: relative;
        margin: 4rem auto 0;
        min-width: 18.5rem;
        max-width: 18.5rem;
        border-radius: 1rem;
        @media only screen and (min-width: 1000px) {
            min-width: auto;       
            max-width: 100%;
            margin: 0;
            padding: 2em 6em 0;
        }

        &--basic {
            margin-top: 0;
            border: 1px solid #EB476E;
        }
        &--professional {
            border: 1px solid #2596be;
            @media only screen and (min-width: 1000px) {
                margin: 0 3em 0,
            }
        }
        &--premium {
            @media only screen and (min-width: 1000px) {
                margin-top: 0;
            }
            border: 1px solid #55DFB4;
        }

        &__container-plan {
            display: inline-block;
            vertical-align: top;
            @media only screen and (min-width: 1000px) {
                position: relative;
                display: block;
                text-align: center;
            }
            
            &--basic {
                padding: 4.5em 2em 0;
                @media only screen and (min-width: 1000px) {
                    padding: 0 0 1.4em 0;
                }
            }
            &--professional {
                padding: 3.5em 0.75em 0;
                @media only screen and (min-width: 1000px) {
                    padding: 0;    
                }
            }
            &--premium {
                padding: 4em 1.5em 0;
                @media only screen and (min-width: 1000px) {
                    padding: 0;    
                }
            }

            &__title {
                font-family: 'Raleway';
                font-weight: 700;
            }
            &__price {
                font-family: 'Open Sans';
                font-size: 2.75em;
                font-weight: 300;
                @media only screen and (min-width: 1000px) {
                    margin-top: 1rem;
                }

                &--basic {
                    color: #FB3B64;
                }
                &--professional {
                    color: #2596be;
                }
                &--premium {
                    color: #55DFB4;
                }
            }
            &__info {
                font-family: 'Raleway';
                font-size: 0.75em;
                font-weight: 700;
                @media only screen and (min-width: 1000px) {
                    margin-top: 0.5rem;   
                }
            }
        }
        &__container-advantages {
            display: inline-block;
            text-align: left;
            @media only screen and (min-width: 1000px) {
                display: block;
                text-align: center;
                white-space: nowrap;
            }

            &__list {
                list-style: none;
                list-style-position: inside;

                &__option {
                    margin-top: 1.25em;
                    @media only screen and (min-width: 1000px) {
                        margin-top: 2rem;
                    }

                    &--checked {
                        list-style-image: url(../img/Checkbox.png);
                    }
                    &--cross {
                        list-style-image: url(../img/Cross.png);
                    }

                    &__text{
                        display: inline-block;
                        font-family: 'Open Sans';
                        font-size: 0.9em;
                        font-weight: 400;
                        pointer-events: none;
                    }
                }
            }
        }

        &__container-btn {
            position: relative;
            margin: 0 auto;
            height: 3rem;
            width: 10rem;

            &__btn {
                position: absolute;
                top: 50%;
                left: 0%;
                padding: 1rem 4rem;
                font-size: 0.8em;
                font-family: 'Open Sans';
                border: none;
                border-radius: 2rem;
                color: #FFFFFF;
                @media only screen and (min-width: 1000px) {
                    cursor: pointer;
                }
            
                &--basic {
                    background-color: #f0446c;
                }
                &--professional {
                    background-color: #2596be;
                }
                &--premium {
                    background-color: #55DFB4;
                }
            }
        }
    }

    &__card:hover {
        @media only screen and (min-width:1000px) {
            transform: scale(1.1);
            box-shadow: 0 0.5rem 1rem gray;
            transition: 0.5s;
            cursor: pointer;
        }
    }

}