.advertising {
  margin-top: 4.5rem;
  padding: 3rem 0;
  text-align: center;
  background-color: white;
}
.advertising__first {
  position: relative;
  margin: 0 2rem;
  padding: 1em;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  background-color: white;
}
.advertising__first__rectangle1 {
  margin: 0 0 4.5rem 7rem;
}
.advertising__first__macbook {
  position: absolute;
  top: 12.5%;
  left: 20%;
}
.advertising__first__title {
  text-align: left;
  font-family: "Raleway";
  font-size: 2em;
  font-weight: normal;
}
.advertising__first__text {
  margin-top: 3rem;
  text-align: left;
  font-family: "Open Sans";
  font-size: 0.9em;
  font-weight: normal;
}
.advertising__shop {
  position: relative;
  margin: 3rem 2rem 0;
  padding: 1em;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  background-color: white;
}
.advertising__shop__ellipse3 {
  position: relative;
}
.advertising__shop__iphone {
  position: absolute;
  top: 6%;
  left: 30%;
}
.advertising__shop__title {
  margin-top: 2rem;
  font-family: "Raleway";
  font-size: 2em;
  font-weight: normal;
  text-align: left;
}
.advertising__shop__text {
  margin-top: 1rem;
  text-align: left;
  font-family: "Open Sans";
  font-size: 0.9em;
  font-weight: normal;
}
.advertising__brand {
  position: relative;
  margin: 3rem 2rem 0;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  background-color: white;
}
.advertising__brand__title {
  margin-top: 1rem;
  padding: 0 0.5em;
  font-family: "Raleway";
  font-size: 2em;
  font-weight: normal;
  text-align: left;
}
.advertising__brand__text {
  margin: 1rem 0.75rem 0 0;
  padding: 0 1em;
  text-align: left;
  font-family: "Open Sans";
  font-size: 0.9em;
  font-weight: normal;
}
.advertising__brand__rectangle2 {
  position: relative;
  margin-top: 1rem;
}
.advertising__brand__trumpet {
  position: absolute;
  top: 62.5%;
  left: 0%;
}
@media only screen and (min-width: 1000px) {
  .advertising__first {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20rem;
    padding: 0;
  }
  .advertising__first__rectangle1 {
    margin: 1.5rem 0 0 7rem;
    order: 4;
    width: 12.5em;
  }
  .advertising__first__macbook {
    order: 3;
    top: 27.5%;
    left: 52.5%;
    width: 22.5em;
  }
  .advertising__first__title {
    margin: 4rem 0 0 2rem;
    order: 1;
    width: 50%;
  }
  .advertising__first__text {
    margin: 2rem 0 0 2rem;
    order: 2;
    width: 42.5%;
  }
  .advertising__shop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20rem;
    padding: 0;
  }
  .advertising__shop__ellipse3 {
    margin: 0.75rem 0 0 3.5rem;
    width: 17em;
  }
  .advertising__shop__iphone {
    top: 10%;
    left: 7.5%;
    width: 22.5em;
  }
  .advertising__shop__title {
    margin: 4rem 0 0 10rem;
    width: 30%;
  }
  .advertising__shop__text {
    margin: 2rem 0 0 10rem;
    width: 42.5%;
  }
  .advertising__brand {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20rem;
    padding: 0;
  }
  .advertising__brand__title {
    margin: 4rem 0 0 10rem;
    width: 30%;
  }
  .advertising__brand__text {
    margin: 2rem 0 0 10rem;
    width: 42.5%;
  }
  .advertising__brand__rectangle2 {
    margin: 0.75rem 0 0 3.5rem;
    width: 17em;
  }
  .advertising__brand__trumpet {
    top: 10%;
    left: 7.5%;
    width: 22.5em;
  }
}/*# sourceMappingURL=advertising.css.map */