@import '_nav.scss';
@import '_popular.scss';
@import '_advertising';
@import '_prices';
@import '_contact';
@import '_footer';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}
